<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.typingdna">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.TYPE_APPLICATION_OVERLAY"/>

    <application>
        <service android:name=".RNTypingDNAOverlayService" />
    </application>
</manifest>
  